html{
    scroll-behavior: smooth;
}
body {
    background-color:#000000;
    background-size: 100%;
    background-position: center center;
    font-family: 'Anton', sans-serif;
}

header {
    padding: flex;
    background-color:#fefffc;
    padding: 1.0%;  
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
}
.fixo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;  
}

.li {
    display: inline;
}

/* Apartir daqui, tudo sobre o menu (responsivo)*/
.logo-img{ 
    width: 40%;
}
.logo{
    text-align: left;
    width: 30%;
    font-size: 1.4em;
    right: 0;
    padding-left: 2%;
    float: left;
}
.itens_menu{
    line-height: 1.5;
    text-align: center;
    font-size: 1em;
}
.itens_menu ul li{
    line-height: 1.9;
    text-align: center;
    display: inline;  
    padding-left: 3.0;
    top: 1%;
}
.itens_menu a{
    font-size: 1.2em;
    padding-left: 1.0em;
}
.itens_menu a:link, .itens_menu a:visited{ 
    color: #0a0a0a;
    text-decoration: none;
}  
.itens_menu a:hover {
    background-color: rgba(128, 128, 128, 0.3); 
    text-decoration: none;
    border-radius: 10%;
}
.itens_menu a:active {
    color: #FFF;
    text-decoration: none;
}
p{
    text-align: justify;
    padding-left: 15%;
    padding-top: 0.5%;;
    color: #dddddd;
}
h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 3;
    padding-top: 1%;
    padding-bottom: 0.5%;
}
h2{
    text-align: center;
    padding-top: 1.5%;
    color: #dddddd;
}
.fixo{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    line-height: 1;
}
nav {
    color: #020101;
    text-align: center;
    font-size: 1.0em;
}
.RTX-4090 {
    width: 100%;
}
.container {
    background-color:#1E1E1E;
    width: 80%;
    margin: auto;
}
footer {
    background-color: 1E1E1E;
    color: #000000;
    font-size: 1.3em;
    text-align: center;
}
.foot{
    padding-top: 1%;
}
.ListProb {
    line-height: 1.3;
    text-align: justify;
    padding-left: 15%;
    padding-inline-end: 3%;
    list-style-image: url('../img/placa-de-video.png');
}
section {
    padding-left: 2%;
    padding-right: 2%;
}
.github{
    width: 10%;
}
.placas{
    width: 100%;
}
.ModelosRTX {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
    width: 100%;
}
.linha{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding-top: 3%;
}
.col-6{
    width: 50%;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */ 

@media screen and (max-width: 800px) {
header{
    flex-direction: flex;
}

.itens_menu{
    flex-direction: column;
}
.logo{
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    width: 30%;
}
.descer{
    margin-top: 10%;
}
}
.PC_gamer{
    padding-left: 2%;
}
.leon{
    background-image: linear-gradient(to left, #a7a8a4, #ffffff,#a7a8a4 );
    border-style: inset;
    border-color: #000000f9;
    border-width: 5px;
    box-shadow: 15px 15px 15px 2px rgb(0, 0, 0);
    margin: 2%;
    padding-top: 2.0em;
}
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  td, th {
    border: 1px solid #000000f9;
    text-align: left;
    padding: 8px;
} 
  tr:nth-child(even) {
    background-color: #dddddd;
}
h3{
    color: #dddddd;
}
.escrita_c1{
    color: #1E1E1E;
}
.escrita_c2{
    color: #1E1E1E;
}
/*CONTATO*/
.container-CTT{
    background-color: #1E1E1E;
    padding: 3%;
    border-radius: 10px;
    margin: 1%;
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    margin-bottom: 2%;
}
.col-25{
    text-decoration-color: #a7a8a4;
    padding-top: 1.5%;
}
.col-75{
    padding-top: 1.5%;
    width: 2%;
}